
@media screen and (max-width: 420px) {

  .row{
    width: 100%;
  }

  #lezioni .row > .left, #lezioni .row > .right{
    width: 80%;
    float: none;
    margin: 0 auto;
  }

  #steps .row > .left, #steps .row > .central, #steps .row > .right{
    width: 80%;
    float: none;
    margin: 0 auto;
  }
  img{
    width: 40%;
    height: auto;
  }
  body > div{
    padding-left: 2%;
    padding-right: 2%;
  }
}
